body {
    margin: auto;
    width: 1500px;
    background-color: #fee9e6;
    cursor: pointer;
}

.navigation {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    cursor: pointer;
    color: darkred;
    text-decoration: none;
}

header {
    background-color: lightsalmon;
    color: darkred
    

}
h1 {
    /* clear: both; */
    font-size: 5em;
    padding: 4px;
    margin: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    cursor: pointer;
}

h2 {
    font-size: 2em;
    padding: 10px;
    margin: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    cursor: pointer;
}
.salImage { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 150px;
}
.footer p {
    color: darkred;
    /* border: 8px solid 	 #fa7a6b; */
    padding: 10px;
    margin: 2px;
    margin-left:25px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

table {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
  }
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: salmon;
    color: white;
  }
















