body {
    margin: auto;
    width: 1500px;
    background-color: #fee9e6;
    cursor: pointer;
}

.navigation {
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    cursor: pointer;
    color: darkred;
    text-decoration: none;
}

header {
    background-color: lightsalmon;
    color: darkred
    

}
h1 {
    font-size: 5em;
    padding: 4px;
    margin: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    cursor: pointer;
}

h2 {
    font-size: 2em;
    padding: 10px;
    margin: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    cursor: pointer;
}
.salImage { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 150px;
}
.info {
    font-size: 2em;
    padding: 10px;
    margin: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: darkred;

}
.info img {
    float: right;
    width: 500px;
    height: 350px;
    border-radius: 25px;


}

.shopping {
    font-size: 2em;
    padding: 10px;
    margin: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: darkred;


}
.shopping img{

        border-radius: 25px;
        border: 2px solid ;
        padding: 20px;
        width: 225px;
        height: 200px;

}
footer {
    padding-top: 40px;

}

.footer p {
    color: darkred;
    /* border: 8px solid 	 #fa7a6b; */
    padding: 10px;
    margin: 2px;
    margin-left:25px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
.city {
    font-size: 2em;
    padding: 20px;
    margin: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: darkred;
}

table {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
  }
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: salmon;
    color: white;
  }
.form {
    margin: 0px;
    margin-top: 10px;
    padding: 10px;

}
.franchise h3{
    font-size: 2em;
    padding: 10px;
    margin: 4px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: darkred;

}
.franchise p {
    font-size: 1em;
    background-color: lightsalmon;
}













